extends layout
block content
  body
    div(class="logoContainer")
      .box
        .vertical-txt
          img(src='http://i64.tinypic.com/2nulnd3.png', border='0', alt='Image and video hosting by TinyPic')
    .homeNav
      button#createNewItinerary(onclick="redirectCreateItinerary()") Create Itinerary
      button#viewItinerary(onclick="redirectViewItinerary()") View Itinerary