html
  head
    title Welcome to your Travels
  link(rel="stylesheet", href="/stylesheet/style.css")
  body
    block content
    footer
      block foot
        .siteMap
          button#mapButton Home
          button#mapButton Contact Us
          button#mapButton About Us