html
  head
    title Welcome to your Travels
  link(rel="stylesheet", href="/stylesheet/style.css")
  body
    script(src="src/main.js")
    block content
    footer
      block foot
        .siteMap
          button#mapButton(onclick="redirectHome()") Home
          button#mapButton(onclick="redirectContactUs()") Contact Us
          button#mapButton(onclick="redirectAboutUs()") About Us
          button#mapButton(onclick="redirectIntentionalNotFound()") Affiliates
          button#mapButton(onclick="redirectIntentionalServerError()") Break me