extends layout
block content

  body
    .banner
      .welcome Welcome %user%

    form(action="/create-itinerary" method="POST")
      .input
        input(type='text' style="width: 333px" placeholder='Enter Airline')
      .input
        input(type="text" style="width: 333px" placeholder="Enter Hotel")
      .input
        input(type="text" style="width: 333px" placeholder="Enter Budget")
      button.saveButton(type="submit") Save
